{% include 'site/head.html' %}
{% include 'site/header.html' %}

<div class="container">
    <h1>Checkout</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" required>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" required>
        </div>
        <div class="form-group">
            <label for="phone_number">Phone Number</label>
            <input type="tel" class="form-control" id="phone_number" name="phone_number" required>
        </div>
        <div class="form-group">
            <label for="email_address">Email Address</label>
            <input type="email" class="form-control" id="email_address" name="email_address" required>
        </div>
        <div class="form-group">
            <label for="delivery_location">Delivery Location</label>
            <textarea class="form-control" id="delivery_location" name="delivery_location" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% include 'site/footer.html' %}